.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #f0f2f5;
    overflow-y: hidden;
    box-sizing: border-box;
}

.register-card {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 8px;
}

.register-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.full-width {
    width: 100%;
    margin-bottom: 0.5rem;
}

button[mat-raised-button][disabled] {
  background-color: #bbdefb !important;
  color: white !important;
  cursor: not-allowed;
}