<!-- Floating FAB -->
<button mat-fab class="calculator-fab" (click)="openCalculator()" *ngIf="!isOpen">
    <mat-icon>calculate</mat-icon>
</button>

<!-- Floating Calculator -->
<div *ngIf="isOpen" class="calculator-container" #calcBox cdkDrag
    [ngStyle]="{ width: width + 'px', height: height + 'px', top: top + 'px', left: left + 'px' }">

    <div class="calculator-header" cdkDragHandle>
        <span>Calculator</span>
        <button mat-icon-button (click)="isOpen = false"><mat-icon>close</mat-icon></button>
    </div>

    <div class="calculator-body">
        <div class="calculator-display">{{ display }}</div>

        <div class="calculator-buttons">
            <ng-container *ngFor="let key of keys">
                <button [class.operator]="isOperator(key)" (click)="pressKey(key)">{{ key }}</button>
            </ng-container>
        </div>
    </div>
    <div class="resize-handle" (mousedown)="startResizing($event)"></div>
</div>