.expense-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 3rem;
}

.expense-card {
  width: 280px;
  align-items: center;
}

.empty-msg {
  padding: 2rem;
  text-align: center;
  color: #888;
  font-style: italic;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 4rem;
}